@model Team7_LonghornMusic.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Edit your Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Edit your Account:</dt>
        <dd>
            [               
                @Html.ActionLink("Change your account", "Edit", "AppUser")
            ]
        </dd>
    </dl>
</div>

