@model Team7_LonghornMusic.Models.AvgAlbumRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.AlbumTitle)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.AlbumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.AlbumPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album.DiscountPrice)
        </dt>

        <dd>
            @if (Model.Album.DiscountPrice != 0)
            {
                @Html.DisplayFor(model => model.Album.DiscountPrice)}
            else
            {
                @Html.Display("N/A")
            }
        </dd>

    </dl>
    <table class="table table-bordered">
        <tr>
            <th>
                Album Genre(s)
            </th>
        </tr>
        @foreach (var item in Model.Album.AlbumGenres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Album Artist(s)
            </th>
        </tr>
        @foreach (var item in Model.Album.AlbumArtists)
        {
            <tr>
                <td>@Html.ActionLink(item.ArtistName, "Details", "Artists", new { id = item.ArtistID }, null)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Album Songs
            </th>
        </tr>
        @foreach (var item in Model.Album.AlbumSongs)
        {
            <tr>
                <td>@Html.ActionLink(item.SongTitle, "Details", "Songs", new { id = item.SongID }, null)</td>
            </tr>
        }
    </table>
   
    
     <p>
        @*@Html.ActionLink(
       linkText: "Review this Album",
       actionName: "Create",
       controllerName: "AlbumReviews",
       routeValues: new { AlbumID = Model.Album.AlbumID, UserID = User.Identity.Name },
        htmlAttributes: null)*@

         @if (User.IsInRole("Customer") @*AND HAS PURCHASED ALBUM CLAUSE*@)
         {
             <input type="button" class="btn btn-primary" value="Review this Album" onclick="location.href='@Url.Action("Create", "AlbumReviews", new { AlbumID = Model.Album.AlbumID, UserID = User.Identity.Name }, null)'" />
         }
         @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
         {
             <input type="button" class="btn btn-primary" value="Edit Album Reviews" onclick="location.href='@Url.Action("Index", "AlbumReviews")'" />
         }
    </p>

    <h3>Reviews</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Album Rating
            </th>
            <th>
                Album Comments
            </th>
        </tr>
        @foreach (var item in Model.Album.AlbumReviews)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
            </tr>
        }
    </table>







</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Album.AlbumID })*@ 
    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Edit Album" onclick="location.href='@Url.Action("Edit", "Albums", new { id = Model.Album.AlbumID })'" />
    }

    @*@Html.ActionLink("Back to List", "Index")*@
    <input type="button" class="btn btn-primary" value="Back to Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />

    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Discount Song" onclick="location.href='@Url.Action("Create", "Discount", new { ProductID = Model.Album.AlbumID }, null)'" />
    }

    @if (User.IsInRole("Customer"))
    {
        <input type="button" class="btn btn-primary" value="Add Album to Cart" onclick="location.href='@Url.Action("AddToCart", "OrderDetails", new { AlbumID = Model.Album.AlbumID, UserName = User.Identity.Name })'" />
    }
    @*@Html.ActionLink("Add To Cart", "AddToCart", "OrderDetails", new { AlbumID = Model.Album.AlbumID, UserName = User.Identity.Name }, null)*@
</p>
