@model IEnumerable<Team7_LonghornMusic.Models.AvgAlbumRating>

@ViewBag.Error

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @ViewBag.SelectedAlbumCount
    </p>
}
<p>
    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Create Album" onclick="location.href='@Url.Action("Create", "Albums")'" />
    }
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumTitle)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumPrice)
        </th>
        <th>
            Artist
        </th>
        @*<th>
            Genre
        </th>*@
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.AlbumTitle)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Album.DisplayPrice)
        </td>
        <td>
            @foreach (var x in item.Album.AlbumArtists)
            {
                @Html.DisplayFor(modelItem => x.ArtistName)
            }
        </td>
        @*<td>
            @foreach (var x in item.Album.AlbumGenres)
            {
                @Html.DisplayFor(modelItem => x.GenreName)
            }
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>



        <td>
            @if (User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Artist.ArtistID })*@
                <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Albums", new { id = item.Album.AlbumID })'" />
            }
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Album.AlbumID })*@ 

            @*@Html.ActionLink("Details", "Details", new { id=item.Album.AlbumID })*@ 
            <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details", "Albums", new { id = item.Album.AlbumID })'" />

            @if (User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Artist.ArtistID })*@
                <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete", "Albums", new { id = item.Album.AlbumID })'" />
            }

            @*@Html.ActionLink("Delete", "Delete", new { id=item.Album.AlbumID })*@
        </td>
    </tr>
}

</table>
