@model Team7_LonghornMusic.Models.OrderDetail
@*@{
    Layout = null;
}*@


@using (Html.BeginForm("Checkout", "OrderDetails", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <h4>Checkout</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderDetailID)
    <div class="form-group">
        If this is a gift, type the user email. Otherwise, put the number 1.
        @Html.LabelFor(m => m.GifteeEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GifteeEmail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Checkout" class="btn btn-default" />
        </div>
    </div>

}