@model IEnumerable < Team7_LonghornMusic.Models.Song >

@ViewBag.Error

<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyMusic</title>
</head>

<p class="form-group">
    Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
    <input type="submit" value="Search" class="btn btn-default" />
    @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Show All", "MyMusic", null, new { @class = "btn btn-default" })
</p>
<p>
    @ViewBag.SelectedSongCount
</p>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Genre
        </th>
        <th>
            Album
        </th>

    </tr>
    @foreach (var x in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => x.SongTitle)
            </td>
            <td>
               @foreach(var y in x.SongArtists) { 
               @Html.DisplayFor(modelItem => y.ArtistName)}
            </td>
            <td>
                @foreach (var y in x.SongAlbums)
                {
                    @Html.DisplayFor(modelItem => y.AlbumTitle)}

            </td>
            <td>
                @foreach (var y in x.SongGenres)
                {
                    @Html.DisplayFor(modelItem => y.GenreName)}
            </td>
            
            
            @*<td>
                @if (x.Song != null)
                {
                    @Html.ActionLink("Details", "Delete", new { discountID = x.DiscountID, OrderID = Model.OrderDetail.OrderDetailID })}
            </td>*@
        </tr>
        }
    
</table>

    




