@model Team7_LonghornMusic.Models.ShoppingCartViewModel
@*@{
    Layout = null;
}*@




<h2>My Shopping Cart</h2>

@ViewBag.Error

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            Artist 
        </th>
        <th>
            Rating
        </th>
        <th>
            Song Price
        </th>
    </tr>
    @foreach (var x in Model.OrderDetail.Discounts)
    {
        <tr>        
            <td>                
               @Html.DisplayFor(modelItem => x.Song.SongTitle)
            </td>  
            <td>
                @if (x.Song != null)
                {
                foreach (var y in x.Song.SongArtists)
                {
               @Html.DisplayFor(modelItem => y.ArtistName)}}
            </td>
            <td>
                @foreach (var y in Model.avgSongRatings)
                {
                    if (y.Song == x.Song) {
                    @Html.DisplayFor(modelItem => y.AvgRating)}
                }
               
            </td>  
            <td>
               @Html.DisplayFor(modelItem => x.Song.SongPrice) 
            </td>
            <td>
                @if (x.Song != null) {
                @Html.ActionLink("Delete", "Delete", new { discountID = x.DiscountID, OrderID = Model.OrderDetail.OrderDetailID })}
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artist 
        </th>
        <th>
            Rating
        </th>
        <th>
            Album Price
        </th>
    </tr>
    @foreach (var x in Model.OrderDetail.Discounts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => x.Album.AlbumTitle) 
            </td>
            <td>
                @if (x.Album != null)
                {
                    foreach (var y in x.Album.AlbumArtists)
                    {
                        @Html.DisplayFor(modelItem => y.ArtistName)}
                }
            </td>
            <td>
                @foreach (var y in Model.avgAlbumRatings)
                {
                    if (y.Album == x.Album)
                    {
                        @Html.DisplayFor(modelItem => y.AvgRating)}
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => x.Album.AlbumPrice) 
            </td>
            <td>
                @if (x.Album != null) {
                @Html.ActionLink("Delete", "Delete", new { DiscountID = x.DiscountID, OrderID = Model.OrderDetail.OrderDetailID })}
            </td>
        </tr>
    }
</table>
<p>
Cart Subtotal: $@Html.DisplayFor(model => model.SubTotal)
</p>

<p>
Cart Tax:      $@Html.DisplayFor(model => model.Tax)
</p>

<p>
Cart Total:    $@Html.DisplayFor(model => model.Total)
</p>

<input type="button" class="btn btn-primary" value="Checkout" onclick="location.href='@Url.Action("Checkout", "OrderDetails", new { id = Model.OrderDetail.OrderDetailID },null)'" />
@*@Html.ActionLink("Checkout","Checkout", "OrderDetails", new { shoppingCart = Model.OrderDetail.OrderDetailID}, null)*@