@model IEnumerable<Team7_LonghornMusic.Models.SongReview>

@{
    ViewBag.Title = "Index";
}

<h2>Song Reviews</h2>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        @if (User.IsInRole("Employee"))
        {
            <th>Reviewer</th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Song.SongTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            @if (User.IsInRole("Employee"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.LName)
                </td>
            }
            <td>
                @if (User.IsInRole("Employee"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.SongReviewID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SongReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongReviewID })
            </td>
            }
        </tr>
                }

</table>
