@model IEnumerable<Team7_LonghornMusic.Models.AppUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Employee"))
{
    <table class="table">
        <tr>
            <th>
                Account Disabled?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MidInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDisabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MidInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                    <td>
                        <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "AppUsers", new { id = item.Id }, null)'" />
                        <input type="button" class="btn btn-primary" value="Edit User Password" onclick="location.href='@Url.Action("ResetPassword", "AppUsers", new { id = item.Id }, null)'" />
                        <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details", "AppUsers", new { id = item.Id }, null)'" />
                        <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete", "AppUsers", new { id = item.Id }, null)'" />
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>                
            </tr>
        }

    </table>
}

