
@{
    ViewBag.Title = "ContentHome";
}

<h2>Edit Content:</h2>

<p>
    <input type="button" class="btn btn-primary" value="Edit Songs" onclick="location.href='@Url.Action("Index", "Songs")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
</p>
@if (User.IsInRole("Manager"))
{
    <p>
        <input type="button" class="btn btn-primary" value="Edit Genres" onclick="location.href='@Url.Action("Index", "Genres")'" />
    </p>
    <p>
        <input type="button" class="btn btn-primary" value="Create Song" onclick="location.href='@Url.Action("Create", "Songs")'" />
    </p>
    <p>
        <input type="button" class="btn btn-primary" value="Create Album" onclick="location.href='@Url.Action("Create", "Albums")'" />
    </p>

    <p>
        <input type="button" class="btn btn-primary" value="Create Artist" onclick="location.href='@Url.Action("Create", "Artists")'" />
    </p>

    <p>
        <input type="button" class="btn btn-primary" value="Create Genre" onclick="location.href='@Url.Action("Create", "Genres")'" />
    </p>
}