
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Longhorn Music!</h2>



<p>
    @Html.ActionLink("Browse Songs", "Index", "Songs")
</p>

<p>
    @Html.ActionLink("Browse Albums", "Index", "Albums")
</p>

<p>
    @Html.ActionLink("Browse Artists", "Index", "Artists")
</p>

<p>
    @Html.ActionLink("Browse Users", "Index", "AppUsers")
</p>
<p>
    @Html.ActionLink("ShoppingCart", "ShoppingCart", "OrderDetails", new { UserName = User.Identity.Name }, null)
</p>

