
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Longhorn Music!</h2>



<p>
    <input type="button" class="btn btn-primary" value="Browse Songs" onclick="location.href='@Url.Action("Index", "Songs")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Browse Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />
</p>

<p>   
    <input type="button" class="btn btn-primary" value="Browse Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Promote/Fire Employee" onclick="location.href='@Url.Action("Index", "RoleAdmin")'" />
</p>


@if (User.IsInRole("Manager"))
{
    <p>
        <input type="button" class="btn btn-primary" value="Browse Genres" onclick="location.href='@Url.Action("Index", "Genres")'" />
    </p>

    <p>
        <input type="button" class="btn btn-primary" value="Create Songs" onclick="location.href='@Url.Action("Create", "Songs")'" />
    </p>
    <p>
        <input type="button" class="btn btn-primary" value="Create Albums" onclick="location.href='@Url.Action("Create", "Albums")'" />
    </p>

    <p>
        <input type="button" class="btn btn-primary" value="Create Artists" onclick="location.href='@Url.Action("Create", "Artists")'" />
    </p>

    <p>
        <input type="button" class="btn btn-primary" value="Create Genre" onclick="location.href='@Url.Action("Create", "Genres")'" />
    </p>
}


