
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Longhorn Music!</h2>



<p>
    <input type="button" class="btn btn-primary" value="Browse Songs" onclick="location.href='@Url.Action("Index", "Songs")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Browse Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />
</p>

<p>   
    <input type="button" class="btn btn-primary" value="Browse Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Browse Users" onclick="location.href='@Url.Action("Index", "AppUsers")'" />
</p>
<p>
    <input type="button" class="btn btn-primary" value="My Shopping Cart" onclick="location.href='@Url.Action("ShoppingCart", "OrderDetails",new { UserName = User.Identity.Name })'" />
</p>
<p>
    <input type="button" class="btn btn-primary" value="Browse Reviews" onclick="location.href='@Url.Action("ReviewHome", "Home")'" />
</p>

