@model Team7_LonghornMusic.Models.AvgSongRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song.SongTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.SongTitle)
        </dd>

        <dt>
            Rating 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.SongPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.SongPrice)
        </dd>

    </dl>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Genre(s)
            </th>
        </tr>
        @foreach (var item in Model.Song.SongGenres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Artist(s)
            </th>
        </tr>
        @foreach (var item in Model.Song.SongArtists)
        {
            <tr>
                <td>@Html.ActionLink(item.ArtistName, "Details", "Artists", new { id = item.ArtistID }, null)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Album(s)
            </th>
        </tr>
        @foreach (var item in Model.Song.SongAlbums)
        {
            <tr>
                <td>@Html.ActionLink(item.AlbumTitle, "Details", "Albums", new { id = item.AlbumID }, null)</td>
            </tr>
        }
    </table>


    <p>
        @*@Html.ActionLink(
       linkText: "Review this Song",
       actionName: "Create",
       controllerName: "SongReviews",
       routeValues: new { SongID = Model.Song.SongID, UserID = User.Identity.Name },
        htmlAttributes: null)*@
        @if (User.IsInRole("Customer"))
        {
            <input type="button" class="btn btn-primary" value="Review this Song" onclick="location.href='@Url.Action("Create", "SongReviews", new { SongID = Model.Song.SongID, UserID = User.Identity.Name }, null)'" />
        }
        @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
        {
            <input type="button" class="btn btn-primary" value="Edit Song Reviews" onclick="location.href='@Url.Action("Index", "SongReviews")'" />
        }
        
    </p>

    <h3>Reviews</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Rating
            </th>
            <th>
                Song Comments
            </th>
        </tr>
        @foreach (var item in Model.Song.SongReviews)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
            </tr>
        }
    </table>


</div>
<p>
    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Edit Song" onclick="location.href='@Url.Action("Edit", "Songs", new { id = Model.Song.SongID })'" />
    }
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Song.SongID })*@ 

    @*@Html.ActionLink("Back to List", "Index")*@
    <input type="button" class="btn btn-primary" value="Back to Songs" onclick="location.href='@Url.Action("Index", "Songs")'" />

    @if (User.IsInRole("Customer"))
    {
        <input type="button" class="btn btn-primary" value="Add Song to Cart" onclick="location.href='@Url.Action("AddToCart", "OrderDetails", new { SongID = Model.Song.SongID, UserName = User.Identity.Name }, null)'" />
    }
    @*@Html.ActionLink("Add To Cart", "AddToCart", "OrderDetails", new { SongID = Model.Song.SongID, UserName = User.Identity.Name },null)*@
</p>
