@model Team7_LonghornMusic.Models.AvgSongRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song.SongTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.SongTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.SongPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.SongPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Song.SongID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
