@model IEnumerable<Team7_LonghornMusic.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @ViewBag.SelectedSongCount
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongTitle)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SongPrice)
        </th>
        <th>
            Album
        </th>
        <th>
            Artist
        </th>
        <th>
            Genre
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongTitle)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SongPrice)
        </td>
        <td>
            @foreach (var x in item.SongAlbums)
            {
                @Html.DisplayFor(modelItem => x.AlbumTitle)
            }
        </td>
        <td>
            @foreach (var x in item.SongArtists)
            {
                @Html.DisplayFor(modelItem => x.ArtistName)
            }
        </td>
        <td>
            @foreach (var x in item.SongGenres)
            {
                @Html.DisplayFor(modelItem => x.GenreName)
            }
        </td>
        <td>
            @ViewBag.avgRating
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongID })
        </td>
    </tr>
}

</table>
