@model IEnumerable<Team7_LonghornMusic.Models.AvgSongRating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @ViewBag.SelectedSongCount
    </p>
}
<p>
    @if (User.IsInRole("Manager"))
    {
        @*@Html.ActionLink("Create New", "Create")*@
        <input type="button" class="btn btn-primary" value="Create Song" onclick="location.href='@Url.Action("Create", "Songs")'" />
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongTitle)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Song.SongPrice)
        </th>

        <th>
            Artist
        </th>
        @*<th>
            Genre
        </th>*@
        <th>
            Rating
        </th>
        @if (User.IsInRole("Manager"))
        {
        <th>
            Is Featured? (Check 1 Only)
        </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Song.SongTitle)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Song.DisplayPrice)
        </td>

        <td>
            @foreach (var x in item.Song.SongArtists)
            {
                @Html.DisplayFor(modelItem => x.ArtistName)
            }
        </td>
        @*<td>
            @foreach (var x in item.Song.SongGenres)
            {
                @Html.DisplayFor(modelItem => x.GenreName)
            }
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>
        @if (User.IsInRole("Manager"))
        {
        <td>
            @Html.DisplayFor(modelItem => item.Song.IsFeatured)
        </td>
        }
        <td>

            @if (User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Create New", "Create")*@
                <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Songs", new { id = item.Song.SongID })'" />
            }
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Song.SongID })*@ 

            @*@Html.ActionLink("Details", "Details", new { id=item.Song.SongID })*@
            <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details", "Songs", new { id = item.Song.SongID })'" />
           
             @if (User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Create New", "Create")*@
                <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete", "Songs", new { id = item.Song.SongID })'" />
            }
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Song.SongID })*@
        </td>
    </tr>
}

</table>
