@model IEnumerable<Team7_LonghornMusic.Models.ArtistReview>
@{
    ViewBag.Title = "MyReviewIndex";
}

<h2>My Artist Reviews</h2>



<table class="table">
    <tr>
        <th>
            Artist
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>Reviewer</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LName)
            </td>
            <td>
                <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "ArtistReviews", new { id = item.ArtistReviewID }, null)'" />

                <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details", "ArtistReviews", new { id = item.ArtistReviewID }, null)'" />

            </td>
        </tr>
    }

</table>
