@model Team7_LonghornMusic.Models.AvgArtistRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist Details</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt>
            Average Rating
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

    </dl>
    <table class="table table-bordered">
        <tr>
            <th>
                Artist Genre
            </th>
        </tr>
        @foreach (var item in Model.Artist.ArtistGenres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Artist Albums
            </th>
        </tr>
        @foreach (var item in Model.Artist.ArtistAlbums)
        {
            <tr>
                @*<td>@Html.DisplayFor(modelItem => item.AlbumTitle)</td>*@
                <td>@Html.ActionLink(item.AlbumTitle, "Details", "Albums", new { id = item.AlbumID }, null)</td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                Artist Songs
            </th>
        </tr>
        @foreach (var item in Model.Artist.ArtistSongs)
        {
            <tr>
                @*<td>@Html.DisplayFor(modelItem => item.SongTitle)</td>*@
                <td>@Html.ActionLink(item.SongTitle, "Details", "Songs", new { id = item.SongID }, null)</td>
            </tr>
        }
    </table>


    <p>
        @*@Html.ActionLink(
       linkText: "Review this Artist", 
       actionName: "Create", 
       controllerName: "ArtistReviews", 
       routeValues: new { ArtistID = Model.Artist.ArtistID, UserID = User.Identity.Name },
        htmlAttributes: null)*@
        @if(User.IsInRole("Customer") @*AND HAS PURCHASED SONG CLAUSE*@)
        {
            <input type="button" class="btn btn-primary" value="Review this Artist" onclick="location.href='@Url.Action("Create", "ArtistReviews", new { ArtistID = Model.Artist.ArtistID, UserID = User.Identity.Name }, null)'" />
        }
        @if (User.IsInRole("Manager"))
        {
            <input type="button" class="btn btn-primary" value="Edit Artist Reviews" onclick="location.href='@Url.Action("Index", "ArtistReviews")'" />
        }

    </p>

    <h3>Reviews</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Artist Rating
            </th>
            <th>
                Artist Comments
            </th>
        </tr>
        @foreach (var item in Model.Artist.ArtistReviews)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
            </tr>
        }
    </table>
</div>
<p>
    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Edit Artist" onclick="location.href='@Url.Action("Edit", "Artists", new { id = Model.Artist.ArtistID })'" />
    }
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Artist.ArtistID }) |*@
   
     @*@Html.ActionLink("Back to Artist List", "Index")*@
    <input type="button" class="btn btn-primary" value="Back to Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
</p>
