@model IEnumerable<Team7_LonghornMusic.Models.AvgArtistRating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    @using (Html.BeginForm())
    {
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @ViewBag.SelectedArtistCount
    </p>
    }

<p>
    @if (User.IsInRole("Manager"))
    {
        @*@Html.ActionLink("Create New", "Create")*@
        <input type="button" class="btn btn-primary" value="Create Artist" onclick="location.href='@Url.Action("Create", "Artists")'" />
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>*@
        @*<th>
            Genre
        </th>*@
        <th>
            Average Rating
        </th>
        @if(User.IsInRole("Manager"))
        {
            <th>
                Is Featured? (Check 1 Only)
            </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.ArtistName)
        </td>
        @*<td>  
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>*@
        @*<td>
            @foreach (var x in item.Artist.ArtistGenres)
            {
                @Html.DisplayFor(modelItem => x.GenreName)
                
            }
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>
        @if(User.IsInRole("Manager"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Artist.IsFeatured)
            </td>
        }
        <td>
            @if(User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Artist.ArtistID })*@
                <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Artists", new { id = item.Artist.ArtistID })'" />
            }
            
            @*@Html.ActionLink("Details", "Details", new { id=item.Artist.ArtistID })*@ 
            <input type="button" class="btn btn-primary" value="Details" Artist" onclick="location.href='@Url.Action("Details", "Artists", new { id = item.Artist.ArtistID })'" />

            @if (User.IsInRole("Manager"))
            {
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Artist.ArtistID })*@
                <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete", "Artists", new { id = item.Artist.ArtistID })'" />
            }
           
        </td>
    </tr>
}

</table>
